<section id="midi-config-quick" class="tab midi-scrollable-list{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{#each QuickSettingsBlurb as |line lineNum|}}
        {{line}}<br>
    {{/each}}
    <div class="midi-qol-box">
        <div class="column-button-container-mqol">
            {{#each quickSettingsOptions as |label val|}}
                <button type="quickbutton" class="import-quick-setting" style="text-align: left;" id={{val}}>
                <i class="fas fa-dice-d20"></i> {{ label }}
                </button>
            {{/each}}
        </div>
    </div>
</section>