<div class="midi-qol-single-hit-card">
  {{#unless oneCard}}
  <div>{{attackType}}</div>
  {{/unless}}
  <div class="dnd5e2 evaluation">
    {{#if collapsibleTargets}}
    <div class="card-tray targets-tray collapsible">
      <label class="roboto-upper">
        <i class="fas fa-bullseye" inert></i>
        <span>{{localize "DND5E.TargetPl"}}</span>
        <i class="fas fa-caret-down" inert></i>
      </label>
      <div class="collapsible-content">
        {{/if}}
        <ul class="dnd5e2 unlist evaluation wrapper">
          {{#each hits as |hit iid|}}
          <li data-uuid="{{actorUuid}}" data-id="{{hit.target.id}}" class="target {{hit.hitClass}} midi-qol midi-qol-hit-class midi-qol-target-select">
            <i class="midi-qol-hit-symbol fas {{hit.hitSymbol}}"></i>
            <img src="{{hit.img}}"
              style="background-color: var(--dnd5e-background-10); width: 22px !important; height: 22px !important;" />
            <div class="name-stacked">
              <span class="midi-qol-target-name title midi-qol-gmTokenName" id="{{hit.target.id}}">
                {{{hit.gmName}}}
              </span>
              <span class="midi-qol-target-name title midi-qol-playerTokenName" id="{{hit.target.id}}">
                {{hit.playerName}}
              </span>
            </div>
            {{#if showAC}}
            <div class="midi-qol-ac {{hit.acClass}}">
              <span>
                <i class="fas fa-shield-halved"></i>
                <span style="font-weight: bold;">{{hit.acDisplay}}</span>
              </span>
            </div>
            {{else}}
            {{#if hit.bonusAC}}
            <div class="midi-qol-ac {{hit.acClass}}">
              <span>
                <i class="fas fa-shield-halved"></i>
                <span style="font-weight: bold;">+{{hit.bonusAC}}</span>
              </span>
            </div>
            {{/if}}
            {{/if}}
          </li>
          {{/each}}
        </ul>
        {{#if collapsibleTargets}}
      </div>
    </div>
    {{/if}}
  </div>
</div>