<div style="text-align: center">
  <strong>{{{saveDisplayFlavor}}}</strong>
</div>
<div style="text-align: center">
  <strong>
    {{{fullDamageText}}} {{{halfDamageText}}} {{{noDamageText}}}
  </strong>
</div>
<div class="dnd5e2 evaluation">
  {{#each saves as |save iid|}}
  <div>
    <div class="midi-qol target midi-qol-save-class {{save.saveClass}}" style="align-content: center;">
      <img src="{{save.img}}" style="background-color: var(--dnd5e-background-10); width: 30px; height: 30px;" />
      <div class="name-stacked">
        <span class="midi-qol-target-name title midi-qol-tooltip " id="{{save.target.id}}"
          data-uuid="{{save.target.document.uuid}}">
          <div class="midi-qol-gmTokenName">
            {{{save.gmName}}}
          </div>
          <i class="midi-qol-save-symbol fas {{save.saveSymbol}}"></i>
          <div class="midi-qol-playerTokenName">
            {{save.playerName}}
          </div>
          <div class="midi-qol-tooltiptext midi-qol-save-tooltip" style="text-align: left;">
            {{{save.rollHTML}}}
<!--           <div>{{save.rollDetail.formula}}</div>
            <div>{{save.rollDetail.result}}</div>
-->
          </div>
        </span>
      </div>
      <div class="midi-qol-save-total {{save.saveTotalClass}}">
        <span style="font-weight: bold;">{{save.rollTotal}}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>